html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background: url(background.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding: 10px;
  display: grid;
  justify-items: center;
  font-family: 'Red Hat Display', sans-serif;
}
